<form *ngIf="articleForm" [formGroup]="articleForm" (ngSubmit)="submit()">
  <div class="form-floating mb-3">
    <input
      id="articleTitle"
      type="text"
      class="form-control"
      placeholder="Article Title"
      formControlName="title" />
    <label for="articleTitle">Article Title</label>
  </div>
  <div class="form-floating">
    <textarea
      id="articleContent"
      class="form-control"
      placeholder="Article Content"
      style="height: 180px"
      formControlName="content"></textarea>
    <label for="articleContent">Article Content</label>
  </div>
  <div *ngIf="hasLastModifiedAt()" class="text-end">
    <code>{{ getLastModifiedAt() }}</code>
  </div>
  <div *ngIf="message" class="form-buttons text-center">{{ message }}</div>
  <div class="form-buttons">
    <button class="btn btn-primary" type="submit" [disabled]="!formEnabled">Save</button>
  </div>
</form>
