<div class="card">
  <h5 class="card-header">Browse Articles</h5>
  <div class="card-body">
    <table class="table" *ngIf="articles">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles.content">
          <th scope="row" class="fit" [title]="getTimestamp(article)">{{ getDate(article) }}</th>
          <td>
            <a [routerLink]="'/articles/browse/' + article.id">{{ article.title }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
